# DB
postgres_password=password
postgres_user=postgres
postgres_database=fastapi_sample

# Oauth
SECRET_KEY=strong_secret_key_f3f9b1b94095c6007243343ea98
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30

# Loggin
logging_level=DEBUG

# User role namings
role_admin=admin
role_end_user=end_user